{% extends "base.html" %}

{% block titill %} Sign Up {% endblock %}

{% block content %}
    <div class="center-form">
        <form action="" method="POST" class="ui form">
            {{form.hidden_tag()}}
            <div class="field">
                <label>Name</label> 
                {{form.name}}
            </div>
            <div class="field">
                <label>Username</label> 
                {{form.username}}
            </div>
            <div class="field">
                <label>Email</label>
             {{form.email}}
            </div>
            <div class="field">
                <label>Password</label>
                {{form.password}}
            </div>
            <div class="field">
                <label>Confirm Password</label>
                {{form.password2}}
            </div>
            

            <input class="ui button" type="submit" value="Create User">
        </form>
    </div>
{% endblock content %}
